.course-item {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
}

.selected {
    background-color: deepskyblue;
}

.container {
    display: flex;
}

#available-courses, #selected-courses {
    width: 20rem;
    height: 300px;
    overflow-y: scroll;
    margin: 10rem;
}

h1 {
    margin-left: 32rem;
}

h2{
    text-align: center;
}

#available-courses:nth-child(even), #selected-courses:nth-child(even) {
    background-color: rgb(221, 239, 221);
}
